$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #8b008b;//#800080;

$font-color: #000; // #ffc0cb;

$white: #fff;
$black: #000;



body {
  background-image: url('http://is2.mzstatic.com/image/thumb/Purple118/v4/7e/ef/5d/7eef5dac-3ff0-13c3-a64f-4003d09beacd/source/1200x630bb.jpg');
  background-size: cover;
  background-position: center center;
}


.fave-movie {
  color: $black;
  float: left;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.movie-info {
  margin-top: 100px;
}

.update-fave {
  margin-top: 100px;
  float: left;
}
